<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Compartilhe e contribua com o crescimento de outros empreendedores!</h2>

      <div class="social">
        <a href="http://" class="d-inline-block">

        </a>
        <a href="http://" class="d-inline-block">
            
        </a>
        <a href="http://" class="d-inline-block">
            
        </a>
        <a href="http://" class="d-inline-block">
            
        </a>
        
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <img src="assets/images/logoForum.png" alt="" class="align-self-baseline">
    </div>
  </div>

  <div class="row institutional">
    <div class="col-md-6">
      © 2020. Fórum Negócios Experience. Todos os direitos reservados.
    </div>
    <div class="col-md-6 d-flex justify-content-end">
       <a href="http://" target="_blank">
        Mobister
      </a>
    </div>
  </div>
</div>