<nav class="nav-mb d-block d-sm-none">
  <div class="logo-menu">
    <img src="assets/images/logoForum.png" alt="" />
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="menu-mobile">
    <div id="bg-menu-mobile">
      <img src="assets/images/logoForum2.png" class="logoForum2" alt="" />
      <ul>
        <li>
          Palestrantes
        </li>
        <li>
          Seja um patrocinador
        </li>
      </ul>

      <div
        class="whatsapp-bottom position-absolute w-100 d-flex justify-content-between align-items-center"
      >
        <p>Contato pelo WhatsApp</p>
        <img src="assets/images/icon-whatsapp.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</nav>
