#bg-menu-mobile {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100000000;
  background-color: #000000;
  will-change: transform;

  
}

.logoForum2 {
  margin: 40px 0 0 26px;
}

.nav-mb ul {
  width: 100%;
  position: absolute;
  list-style: none;
  color: #fff;
  z-index: 100000000;
  margin-left: 26px;
  margin-top: 70px;

  li {
    font-weight: 500;
    font-size: 22px;
    position: relative;
    margin-bottom: 30px;
    left: 100%;
    cursor: pointer;
    will-change: transform;
  }

}

#hamburger {
  width: 41px;
  height: 40px;
  position: relative;
  margin: 40px auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 17px;
  background-color: transparent;
  z-index: 1000000000;
}

#hamburger span {
  z-index: 3;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #4B4B4B;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 11px;
}

#hamburger span:nth-child(3) {
  top: 22px;
}

#hamburger.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #4B4B4B;
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
  -webkit-transition: 0.16s ease-in-out;
  -moz-transition: 0.16s ease-in-out;
  -o-transition: 0.16s ease-in-out;
  transition: 0.16s ease-in-out;
}

#hamburger.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #4B4B4B;
}

.whatsapp-bottom {
  height: 180px;
  bottom: 0;
  padding-left: 22px;
  font-size: 18px;
  color: #6F6F6F;
  border-top: 1px solid #292929;
}

