
*, *:before, *:after {
          box-sizing: border-box;
}

body {
    font-family: $font1;
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  background-color: black;
  font-size: 16px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}
  
h1 {
  font-size: $fonte-grande;
  color: $branco;
}

h2 {
  font-size: $fonte-media;
}


.wrap {
  overflow: hidden;
}