@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
$font1: 'Raleway', sans-serif;
$font2: 'Allura', cursive;
$branco: #fff;
$roxo:#A76AED;
$cinza:#6F6F6F;
$preto:#000000;

$fonte-pequena: 20px;
$fonte-media: 40px;
$fonte-grande: 60px;

