@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
$font1: 'Raleway', sans-serif;
$font2: 'Allura', cursive;
$rosaEscuro:#E45687;
$rosaClaro:#F4E4E4;


