.nav-item {

  .nav-link {
    color: black;
  }
  &:not(:last-child) {
    .nav-link{
      margin-right: 40px;
    }
  }
}

#section0 {
  background: url(../images/rose.png) no-repeat,
    linear-gradient(#f4e4e4 0%, #f5bcbc 100%);
  background-position-x: 90%;

  h1 {
    font-family: $font2;
    font-size: 6.25rem;
  }
  h4 {
    color: #606060;
    font-weight: 100;
  }
}

#section1 {
  background-color: white;
}

#section2 {
  background-color: #f4e4e4;
}

.social-icons {
  right: 30px;
  bottom: 0;
  color: #606060;
  font-size: 23px;
  line-height: 100%;

  li {
    margin-bottom: 30px;

    a {
      color: black;
    }
  }
}

@keyframes pump {
  0% {
    transform: scale3d(0.5, 0.5, 5);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0.5, 0.5, 5);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  background-color: #fd1472;
  transition: all 200ms linear;
  animation: blink 1s infinite forwards;
}
.cursor.is-done {
  width: 100%;
  animation: none;
}

.button__start {
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  top: 100px;
  right: 100px;
  color: #fd1472;
  border: 2px solid currentColor;
  border-radius: 4px;
  background: transparent;
  transition: all 200ms ease-in-out;
}
.button__start:hover,
.button__start:focus {
  color: #fafafa;
  border-color: #fd1472;
  background: #fd1472;
}

.typethis,
.typethis__output {
  display: inline-block;
  position: relative;
}
.typethis__output {
  z-index: 1;
}
