

.nav-item {

  .nav-link {
    color: black;
  }
  &:not(:last-child) {
    .nav-link{
      margin-right: 40px;
    }
  }
}

.fp-section {
  overflow: hidden;
}

#section0 {
  background: url(../images/bgSection0.jpg) no-repeat;
  background-size: 100% 100%;

  h1 {
    font-family: $font2;
    font-size: 6.25rem;
    margin-bottom: 0;
  }
  h4 {
    color: #606060;
    font-weight: 100;
    font-size: 30px;
  }

  .rose {
    bottom: -100px;
    right: 60px;
    z-index: 10;
  }
  .bg-agendamento {
    z-index: 2;
  }

  .social {
    p {
      font-weight: 600;
      font-size: 1.125rem;
    }
    .social-icon {
      li {
        margin-left: 25px;
        a {
          color: $rosaEscuro;
        }
        .iconify {
          font-size: 36px; 
        }
      }
    }
  }
}

#section1 {
  background-color: white;
  h1 {
    color: $rosaEscuro;
  }

  .regular {
    article {
      max-width: 460px;
      height: 600px;
      max-height: 100vh;
      background-position: center;
      background-size: cover;
    }
  }

  .servicos {
    background: #f3f3f3;
    padding: 20px 10px;
    border-radius: 6px;
    font-size: 1.375rem;
    margin-bottom: 25px;
      svg {
        margin-right: 10px;
      }
  }

  .iconify {
    color: $rosaEscuro;
  }
}

#section2 {
  background-color: #f4e4e4;
  p {
    font-size: 26px;
    .iconify {
      color: $rosaEscuro;
    }
    svg {
      margin-right: 10px;
    }
  }
}

#section3 {
  p {
    font-size: 26px;
    a {
      color: $rosaEscuro;
    }
    .iconify {
      color: $rosaEscuro;
    }
    svg {
      margin-right: 10px;
    }
  }
}

@keyframes pump {
  0% {
    transform: scale3d(0.5, 0.5, 5);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0.5, 0.5, 5);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  background-color: #fd1472;
  transition: all 200ms linear;
  animation: blink 1s infinite forwards;
}
.cursor.is-done {
  width: 100%;
  animation: none;
}

.button__start {
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  top: 100px;
  right: 100px;
  color: #fd1472;
  border: 2px solid currentColor;
  border-radius: 4px;
  background: transparent;
  transition: all 200ms ease-in-out;
}
.button__start:hover,
.button__start:focus {
  color: #fafafa;
  border-color: #fd1472;
  background: #fd1472;
}

.typethis,
.typethis__output {
  display: inline-block;
  position: relative;
}
.typethis__output {
  z-index: 1;
}

